.workBox {
    width: 100%;
    background-color: white;
    overflow: hidden;
    box-shadow: rgba(230, 231, 233, 0.786) 0px 20px 30px -15px;
    transition: transform 0.3s ease;
}

.workBox:hover {
    transform: translateY(-10px);
}

.imageContainer {
    position: relative;
    width: 100%;
    padding-top: 75%;
}

.content {
    padding: 16px;
    height: fit-content;
}

.title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
    color: #333;
}

.period {
    font-size: 14px;
    color: #666;
}