.container {
    /* Add any container styles if needed */
}

.label {
    display: block;
    font-size: 0.875rem;
    font-weight: 600;
    color: #374151;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border: 1px solid #D1D5DB;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: 0.875rem;
}

.icon {
    width: 1rem;
    height: 1rem;
}

.imageContainer {
    margin-top: 0.5rem;
    position: relative;
    width: fit-content;
}

.image {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
}

.removeIcon {
    position: absolute;
    top: 0;
    right: 0;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}

.helperText {
    font-size: 0.75rem;
    color: #9CA3AF;
}

.lightbox_overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}