.footer_container {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.footer_container h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: 0;
    color: #FCCA0B;
}

.footer_container p {
    font-size: 0.9rem;
    color: #ffffff;
    margin-bottom: 1.5rem;
}

.footer_container h2 {
    font-size: 1rem;
    color: #ffffff;
    margin-bottom: 1.5rem;
}

.privacy_note {
    font-size: 0.8rem;
    color: #999;
}

.social_icons {
    margin-top: 1rem;
    padding-bottom: 50px;
}

.social_icons button {
    border: none;
    padding: 6px 6px;
    background: none;
    color: white;
}

.social_icons button:hover {
    border: none;
    margin: 0 5px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    color: black;
}

.social_link {
    text-decoration: none;
    color: inherit;
}