.contact_container {
    height: 100%;
    padding-top: 100px;
    background-color: #fafafa;
    position: relative;
    padding: 200px 250px;
}

.contact_body {
    display: flex;
    /* flex-direction: row;
    align-items: center;
    justify-content: center; */
}

.contact_header {
    font-size: 2rem;
    font-weight: 200;
    margin-bottom: 50px;
    margin-top: 0;
}

.form {
    width: 80%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.fieldGroup {
    margin-bottom: 20px;
}

.nameFields {
    display: flex;
    gap: 10px;
}

.input,
.textarea {
    width: -webkit-fill-available;
    padding: 10px;
    border: 1px solid #a9a9a9;
    background-color: white;
    color: #FCCC0B;
    font-size: 1rem;
    background-color: #fafafa;
}

.textarea {
    resize: vertical;
    height: 100px;
}

.submitButton {
    width: 100%;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    border: 1px solid #a9a9a9;
    background-color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submitButton:hover {
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #000000;
}

.container_left {
    flex: 2;

}

.container_right {
    flex: 2;
}

.container_left img {
    width: 500px;
    height: 600px;
    object-fit: cover;
}

.contact_info {
    font-weight: 200;
}