.contact_container {
    height: 100%;
    padding: 150px 5%;
    background-color: #fafafa;
    position: relative;
}

/* .contact_body {
    display: flex;
    flex-wrap: wrap;
} */

.contact_header {
    font-size: 2rem;
    font-weight: 200;
    margin-bottom: 30px;
    margin-top: 0;
}

.form {
    width: 100%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
}

.fieldGroup {
    margin-bottom: 20px;
}

.nameFields {
    display: flex;
    gap: 10px;
    /* flex-wrap: wrap; */
}

.input,
.textarea {
    /* width: 100%; */
    padding: 10px;
    border: 1px solid #a9a9a9;
    background-color: #fafafa;
    font-size: 13px;
    width: -webkit-fill-available;
}

.textarea {
    resize: vertical;
    height: 200px;
}

.submitButton {
    width: 100%;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    border: 1px solid #a9a9a9;
    background-color: #ffffff;
    cursor: pointer;
}

.submitButton:hover {
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #000000;
}

.container_left,
.container_right {
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-right: 20px;
}

.container_left img {
    width: 100%;
    max-width: 500px;
    height: auto;
    max-height: 600px;
    object-fit: cover;
}

.contact_info_1 {
    font-weight: 200;
    margin-bottom: 0;
}

.contact_info_2 {
    font-weight: 200;
    padding-bottom: 5px;
}

@media (max-width: 768px) {
    .contact_container {
        padding: 150px 5%;
    }

    .contact_body {
        flex-direction: column;
    }

    .container_left,
    .container_right {
        flex: 1 1 100%;
    }

    .nameFields {
        flex-direction: column;
        gap: 20px;
    }

    .contact_header {
        font-size: 1.5rem;
    }

    .form {
        max-width: 50%;
    }
}

@media (max-width: 650px) {
    .form {
        max-width: 80%;
    }
}

@media (max-width: 480px) {
    .contact_container {
        padding: 150px 5%;
    }

    .form {
        max-width: 80%;
    }

    .contact_header {
        font-size: 1.2rem;
    }

    .input,
    .textarea,
    .submitButton {
        font-size: 0.9rem;
    }
}