.exhibitions_container {
    padding-top: 150px;
    height: 100%;
}

.exhibitions_content {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.exhibitions_header {
    color: white;
    padding-left: 100px;
    font-size: 30px;
}

.break {
    border: 1px solid rgb(110, 107, 107);
    margin: 0 300px 0 150px;
}

.exhibitions_content img {
    width: 500px;
    break-inside: avoid;
    border: 3px white;
    display: block;
    max-width: 100%;
    border-radius: 2px;
    border: 2px solid #D4AF37;
    box-shadow: 6px 10px 10px rgba(240, 237, 237, 0.879);
    margin-bottom: 100px;
}

.content_detail {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    line-height: 25px;
}

.content_detail h1 {
    color: #D4AF37;
}